.light {
    --background-color: #fff;
    --link-color: #000;
  }
  
  .dark {
    --background-color: #565756;
    --link-color: #fff;
  }

.mobile{
    background-color: var(--background-color);
    height: 100vh;
    width: 60vh;
    position: absolute;
    right: 0px;
    top: -6px;
    padding: 18px 13px;
    display: flex;
    flex-direction: column;
}

.close-icon{
    display: flex;
    justify-content: flex-end;
    font-size: 26px;
}

.mobile-options{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 24px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.mobile-option{
 font-size: 24px;
 margin: 12px 0px;
 display: flex;
}

.mobile-option a{
    text-decoration: none;
    color: var(--link-color);
    display: flex;
}